.feedbackOptonsContainer {
    padding: 10px;
}

.stylesList {
    padding: 0;
    justify-content: center;
    display: flex;
    list-style: none;
}

.stylesItem {
    margin-right: 10px;

}

.stylesItem:last-child {
    margin-right: 10px;
}

.feedbackBtn {
    border: none;
    border-radius: 20px;
    font-size: 30px;
    padding: 10px;
    transition: box-shadow 300ms ease;
    min-width: 150px;
    background-color: darkkhaki;
}

.feedbackBtn:hover {
    background-color: rgb(227, 251, 105);
    box-shadow: 0 0 20px rgb(172, 188, 70);
    box-shadow: 0 0 25px rgb(109, 122, 24);
}